@model Evoting.Models.CustomerViewModel
@using Evoting.GlobalSetting;
<!-- Start team Area -->
<div id="team" class="our-team-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Election Candidate Profile</h2>
                </div>
            </div>
        </div>
        @if (Model.CandidateList.Count > 0)
        {
            <div class="row">
                <div class="team-top">
                    @foreach (var Candidate in Model.CandidateList.OrderByDescending(x => x.CandidateID).Take(4).ToList())
                    {
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-img">
                                    <a href="#">
                                        <img src="@(GlobalSettingsPatternsandConstant.ImageURLWeb+ Candidate.CandidateImage)" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>@Candidate.CandidateName</h4>
                                    <p>@(Candidate.Party.PartyName != null ? Candidate.Party.PartyName : "Indipandent Candidate" )</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <h4 style="color:black; text-align: center; font-size: 29px;">
                    <b>
                        <i>
                            There is no Candidate
                        </i>
                    </b>
                </h4>
            </div>
        }

    </div>
</div>
<!-- End Team Area -->