<!-- Start reviews Area -->
<div class="reviews-area hidden-xs">
    <div class="work-us">
        <div class="work-left-text">
            <a href="#">
                <img src="~/Content/img/about/2.jpg" alt="">
            </a>
        </div>
        <div class="work-right-text text-center">
            <h2>Want to become Voter or Candidate?</h2>
            <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
            <a href="~/Views/HomePage/Appointment.cshtml" class="ready-btn">Make Appointment</a>
        </div>
    </div>
</div>
<!-- End reviews Area -->