@model Evoting.Models.CustomerViewModel


<!-- start pricing area -->
<div id="pricing" class="pricing-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Upcoming Elections</h2>
                </div>
            </div>
        </div>
        @if (Model.ElectionDetailsList.Count > 0)
        {
            <div class="row">
                @foreach (var ElectionDetails in Model.ElectionDetailsList.OrderByDescending(x=>x.StartDate).Take(3).ToList())
                {
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="pri_table_list">
                            <h3>@ElectionDetails.ElectionName</h3>
                            <div>
                                <h4>Election Status: @ElectionDetails.ElectionStatus</h4>
                                <p>@ElectionDetails.ElectionDetails</p>
                            </div>
                            <ol>
                                <li class="check">Online system</li>
                                <li class="check cross">Full access</li>
                                <li class="check">Free apps</li>
                                <li class="check">Multiple slider</li>
                                <li class="check cross">Free domin</li>
                                <li class="check cross">Support unlimited</li>
                                <li class="check">Payment online</li>
                                <li class="check cross">Cash back</li>
                            </ol>
                            <a href="/s"
                            <button>Details</button>
                        </div>
                    </div>
                }
            </div>
            }
        else
        {
          <div class="row">
            <h4 style="color:black; text-align: center; font-size: 29px;">
             <b>
                <i>
                    There is no latest election
                </i>
            </b>
           </h4>
          </div>
        }   
    </div>
</div>
<!-- End pricing table area -->
