
@{
    ViewBag.Title = "UpcomingElection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="upcoming_election">
    <div class="container">
        <article id="upcoming_election_containertitle">
            <h1>Up Coming Election</h1>
            <p>E-Voting System is an online voting system, developed just for your convinience!</p>
            <p>The system aims at simplicity of the voting process! </p>
        </article>
        <div class="row">
            <div class="upcoming_election_container">
                <div class="col-md-4">
                    <div class="election_container_tab">
                        <div class="election_container_image ">
                            <img src="~/Content/Image/upcomingelectionlist.jpg" alt="Thumbnail Image 1" class="imgfillelection" />
                        </div>
                        <div class="election_details">
                            <span class="election_details_date">
                                <b>12/8/23 </b>
                            </span>
                            <h4 class="election_details_title">
                                Election Title
                            </h4>
                            <p class="election_details_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="election_container_tab">
                        <div class="election_container_image ">
                            <img src="~/Content/Image/upcomingelectionlist.jpg" alt="Thumbnail Image 1" class="imgfillelection" />
                        </div>
                        <div class="election_details">
                            <span class="election_details_date">
                                <b>12/8/23 </b>
                            </span>
                            <h4 class="election_details_title">
                                Election Title
                            </h4>
                            <p class="election_details_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="election_container_tab">
                        <div class="election_container_image ">
                            <img src="~/Content/Image/upcomingelectionlist.jpg" alt="Thumbnail Image 1" class="imgfillelection" />
                        </div>
                        <div class="election_details">
                            <span class="election_details_date">
                                <b>12/8/23 </b>
                            </span>
                            <h4 class="election_details_title">
                                Election Title
                            </h4>
                            <p class="election_details_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="election_container_tab">
                        <div class="election_container_image ">
                            <img src="~/Content/Image/upcomingelectionlist.jpg" alt="Thumbnail Image 1" class="imgfillelection" />
                        </div>
                        <div class="election_details">
                            <span class="election_details_date">
                                <b>12/8/23 </b>
                            </span>
                            <h4 class="election_details_title">
                                Election Title
                            </h4>
                            <p class="election_details_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="election_container_tab">
                        <div class="election_container_image ">
                            <img src="~/Content/Image/upcomingelectionlist.jpg" alt="Thumbnail Image 1" class="imgfillelection" />
                        </div>
                        <div class="election_details">
                            <span class="election_details_date">
                                <b>12/8/23 </b>
                            </span>
                            <h4 class="election_details_title">
                                Election Title
                            </h4>
                            <p class="election_details_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="election_container_tab">
                        <div class="election_container_image ">
                            <img src="~/Content/Image/upcomingelectionlist.jpg" alt="Thumbnail Image 1" class="imgfillelection" />
                        </div>
                        <div class="election_details">
                            <span class="election_details_date">
                                <b>12/8/23 </b>
                            </span>
                            <h4 class="election_details_title">
                                Election Title
                            </h4>
                            <p class="election_details_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
</section>

<style>
    .election_container_tab {
        height: 804px !important;
        width: 342px !important;
    }
</style>