@{
    Evoting.Models.AdminModel UserDetails = new Evoting.Models.AdminModel();
    if ((Evoting.Models.AdminModel)Session["AdminDetails"] != null)
    {
        UserDetails = (Evoting.Models.AdminModel)Session["AdminDetails"];
    }

}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-voting System</title>
    <link rel="stylesheet" href="/Assets/css/style.css">
    <!-- Jquery CDN link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Content/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/Content/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Content/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/Content/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/JS/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
    <!-- endinject -->
    <!--CUSTOME CSS START-->
    <script src="~/Content/JS/Custome/JSON.js"></script>
    <script src="~/Content/JS/Custome/Custome.js"></script>
    <!--CUSTOME CSS END-->
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="index.html">E-voting System</a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                @if (UserDetails.AdminID > 0)
                {
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item nav-profile dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                <img src="@UserDetails.AdminProfilePIc" alt="profile" />
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <!-- MENU BAR START-->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Party/AddNewParty">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Party Settings</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="" aria-expanded="false" aria-controls="ui-basic">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Election Settings</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="/ElectionSettings/AddNewZone">Zone</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/ElectionSettings/AddNewArea">Area</a></li>
                                @if (UserDetails == null)
                                {
                                    <li class="nav-item"> <a class="nav-link" href="/ElectionSettings/AddNewElectionType">Election Type</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="/ElectionSettings/AddNewElectionDetails">ADD new Election</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="/ElectionSettings/GetAllElectionDetails">Election List</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="/ElectionSettings/AddNewAssignElection"> Assing Election</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="/ElectionSettings/GetAllAssignmentElectionIDDetails">Assing Election List</a></li>
                                }
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                            <i class="icon-columns menu-icon"></i>
                            <span class="menu-title">Appointment & Annoucement</span>
                            <i class="menu-arrow"></i>
                        </a>
                        @if (UserDetails == null)
                        {
                            <div class="collapse" id="form-elements">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/AppointmentAnnoucement/AddNewAnnoucement">ADD Annoucement</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="/AppointmentAnnoucement/GetAllAnnoucement">Annoucement List</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="/AppointmentAnnoucement/AddNewAAppointment">ADD Appointment</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="/AppointmentAnnoucement/GetAllAppointment">Appointment List</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="/AppointmentAnnoucement/GetAllAssignment">Assign Appointment List</a></li>
                                </ul>
                            </div>
                        }

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                            <i class="icon-bar-graph menu-icon"></i>
                            <span class="menu-title">Staff Management</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="charts">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="/Staff/AddNewVoter">ADD Voter</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/Staff/GetAllVoter">Voter List</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/Staff/AddNewCandidate">ADD Candidate</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/Staff/GetAllCandidate">Candidate List</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/Staff/GetAllVoter">Assing Candidate</a></li>
                                @if (UserDetails == null)
                                {
                                    <li class="nav-item"> <a class="nav-link" href="/Staff/AddNewAdmin">ADD Admin</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="/Staff/GetAllAdmin">Admin List</a></li>
                                }

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                            <i class="icon-grid-2 menu-icon"></i>
                            <span class="menu-title">Election Result</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="tables">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Election Result List</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <!-- MENU BAR END-->
            <!--WELCOME BANNER START-->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="row">
                                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                    @if (UserDetails.AdminID > 0)
                                    {
                                        <h3 class="font-weight-bold">Welcome @UserDetails.AdminName</h3>
                                    }
                                    else
                                    {
                                        <h3 class="font-weight-bold">Welcome Super Admin</h3>
                                    }
                                </div>
                                <div class="col-12 col-xl-4">
                                    <div class="justify-content-end d-flex">
                                        <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                                            <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--WELCOME BANNER END-->
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->

                <footer class="footer">
                    <p id="footer_details">

                    </p>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <style>
        .ErrorMsg {
            color: red;
        }
    </style>
    <!--CUSTOME JS START-->
    <script>
        let calendardate = ` <i class="mdi mdi-calendar"></i> ` + new Date();
        document.getElementById("dropdownMenuDate2").innerHTML = calendardate;
    </script>

    <script>
        const date = new Date()
        document.getElementById("footer_details").innerHTML = "&copy; Copyright Fuad Uddin " + date.getFullYear();

    </script>
    <script src="~/Content/JS/Custome/FormValidation.js"></script>
    <!--CUSTOME JS END-->
    <!-- container-scroller -->
    <!-- plugins:js -->
    <!-- plugins:js -->
    <script src="~/Content/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Content/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Content/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Content/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/Content/JS/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Content/JS/off-canvas.js"></script>
    <script src="~/Content/JS/hoverable-collapse.js"></script>
    <script src="~/Content/JS/template.js"></script>
    <script src="~/Content/JS/settings.js"></script>
    <script src="~/Content/JS/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Content/JS/dashboard.js"></script>
    <script src="~/Content/JS/Chart.roundedBarCharts.js"></script>
    <!-- plugins:js -->
    <script src="~/Content/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Content/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/Content/vendors/select2/select2.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Content/JS/off-canvas.js"></script>
    <script src="~/Content/JS/hoverable-collapse.js"></script>
    <script src="~/Content/JS/template.js"></script>
    <script src="~/Content/JS/settings.js"></script>
    <script src="~/Content/JS/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Content/JS/file-upload.js"></script>
    <script src="~/Content/JS/typeahead.js"></script>
    <script src="~/Content/JS/select2.js"></script>
    <!-- plugins:js -->
    <script src="~/Content/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Content/JS/off-canvas.js"></script>
    <script src="~/Content/JS/hoverable-collapse.js"></script>
    <script src="~/Content/JS/template.js"></script>
    <script src="~/Content/JS/settings.js"></script>
    <script src="~/Content/JS/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- plugins:js -->
    <script src="~/Content/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Content/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Content/JS/off-canvas.js"></script>
    <script src="~/Content/JS/hoverable-collapse.js"></script>
    <script src="~/Content/JS/template.js"></script>
    <script src="~/Content/JS/settings.js"></script>
    <script src="~/Content/JS/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Content/JS/chart.js"></script>
    <!-- endinject -->
</body>

</html>

