@model Evoting.Models.SuperAdminAndAdminViewModel

@{
    ViewBag.Title = "AddNewAssignmentElectionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddNewAssignmentElectionDetails</h2>

